
*.xccheckout

*.xcworkspacedata

*.xcuserstate

*.xcscheme

*.plist

*.pbxproj

*.xcbkptlist

*.pyc

*.class
**/#*.*

python/webscrapy/ppdai/ppdai/config.py

python/webscrapy/ppdai/example.db

python/stock_analyze/000623.csv

python/stock_analyze/000623.csv

python/stock_analyze/000623.csv

python/stock_analyze/600547.csv

python/stock_analyze/reportdata2011Q4.csv

python/stock_analyze/601318.csv
